<div class="footer">
    <div class="footer-icons">
        <a href="www.facebook.com">
            <svg width="90" height="90">
                <image src="../assets/icons/facebook.svg" width="90" height="90" />
            </svg>
        </a>

        <a href="www.twitter.com">
            <svg width="90" height="90">
                <image src="../assets/icons/twitter.svg" width="90" height="90" />
            </svg>
        </a>

        <a href="www.linkedin.com">
            <svg width="90" height="90">
                <image src="../assets/icons/linkedin.svg" width="90" height="90" />
            </svg>
        </a>
    </div>

    <div class="footer-wrapper">
        <p class="footer-text">Copyright ® Milco Manufacturing. All rights reserved. </p>
    </div>
</div>