.footer-text {
  text-align: center;
  float: right;
  margin-right: 2%;
  font-family: "Lato", sans-serif;
  font-size: medium;
  color: white;
}

.footer-wrapper {
  flex: 1 1 auto;
  margin-left: auto;
  margin-top: 7%;
}

.footer {
  height: 110px;
  background-color: #4d4d4d;
  flex: 1;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.facebook-icon {
  flex: 0 1 auto;
  margin-left: 10%;
  margin-top: 3%;
}

.twitter-icon {
  flex: 0 1 auto;
  margin-top: 3%;
}

.linked-icon {
  flex: 0 1 auto;
  margin-top: 3%;
}

.footer-icon {
  position: relative;
}

.shape {
  fill: white;
}