<div class="img-box">
    <img class="title" src="../assets/title.jpg" alt="title">
</div>

<div class="intro">
    <p class="text">Milco Manufacturing is built on over 70 years of experience. Since our beginning in 1950, we
        have been a true
        manufacturer and a leading full-service supplier of resistance welding equipment around the world. Because
        Milco manufacturers and controls all parts from within, we are able to maintain a level of precision, quality
        and
        service that is unmatched in our industry.</p>
</div>

<div class="intro">
    <button mat-stroked-button class="body-btn">
        SCHEDULE A DEMO
    </button>
</div>

<div class="img-box">
    <img class="middle" src="../assets/middle.jpg" alt="middle">

    <a routerLink="philosophy" class="philosophy">
        <img class="temp" src="../assets/philosophy.svg" alt="Our Philosophy" />
    </a>
    <a routerLink="product" class="product">
        <img class="temp" src="../assets/productServices.svg" alt="Products And Services" />
    </a>
    <a routerLink="study" class="study">
        <img class="temp" src="../assets/caseStudy.svg" alt="Case Study" />
    </a>
</div>

<div class="intro">
    <p class="header"> BUILDING ON SUCCESS </p>
</div>

<div class="intro">
    <p class="text">Founded in 1950, Milco Manufacturing has grown into one of the leading full-service suppliers of
        resistance
        welding equipment in the world. In recent years, we’ve applied the skills and knowledge we’ve developed
        over half a century to offerings for the Defense and Alternative Energy Industries.</p>
</div>

<div class="intro">
    <button mat-stroked-button class="body-btn">
        LEARN MORE
    </button>
</div>

<span>
    <hr class="test">
</span>

<div class="intro">
    <p class="header"> OUR BRANDS </p>
</div>

<div class="img-box">
    <img class="middle" src="../assets/footer.png" alt="footer">
</div>