<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <div class="logo-container">
        <a routerLink="home">
          <img class="logo" src="../assets/milco_trans.png">
        </a>
      </div>
      <span class="spacer"></span>

      <button mat-stroked-button class="contact menu-btn" routerLink="contact">
        CONTACT
      </button>

      <span class="spacer3"></span>

      <button mat-stroked-button class="customer menu-btn" routerLink="portal">
        CUSTOMER PORTAL
      </button>

      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item routerLink="home" class="nav-menu-item">Home</a>
        <a mat-list-item routerLink="about" class="nav-menu-item">About</a>
        <a mat-list-item routerLink="demo" class="nav-menu-item">Schedule Demo</a>
        <a mat-list-item routerLink="learn-more" class="nav-menu-item">Learn More</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>