.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

.logo-container {
  flex: 0 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

.contact {
  flex: 0 0 90px;
}

.customer {
  flex: 0 0 150px;
}

.menu-btn {
  border-radius: 25px;
  border-width: medium;
  border-color: black;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.spacer3 {
  flex: 0 0 10px;
}

.toolbar {
  height: 100px;
}

.logo {
  width: 280px;
  height: 130px;
}

.nav-menu-item {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
}
